{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ projects.title }}
  </h2>

  {% if projects.intro %}
  <div class="intro">
      <p>{{ projects.intro }}</p>
  </div><!--//intro-->
  {% endif %}
  
<div class="cart-hsh-container">
  {% for project in projects.assignments %}
    <div class="card-hsh">
      <div class="card-hsh-header">
        <img src="{{ site.baseurl }}/assets/images/{{project.image}}" alt="">
     {% if project.titleButton=="En cours" %}
        <div class="noaccess">
          <p>NO ACCESS</p>
        </div>
        <div class="bkgwhite"></div>
      {% endif %}  
    </div>
      <div class="card-hsh-body">
        <h5 class="card-title">{{project.title}}</h5>
          <p class="card-text">{{project.tagline}}</p>    
      </div>
      <div class="card-hsh-footer">
        <div class="css-button"><a target="_blank" href="{{project.link}}">{{project.titleButton}}</a></div>
      </div>
    </div>
  {% endfor %} 
</div>


</section><!--//section-->
{% endif %}
