@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.cart-hsh-container{
    width: 100%;  
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    height: 1000px;
}

.card-hsh{
    width:48%;
    height: 450px;
    display: flex;
    flex-direction: column;
    margin:1%;
    padding:0;
    border: #edebeb 2px solid;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgba(33,33,33,0.25);
}

.card-hsh-header{
    flex:1;
}

.card-hsh-header img{
    width: 100%;
    height: auto;
}

.card-hsh-body
{    
    flex:4;  
}

.card-hsh-body h5{
    padding: 10px;
    text-align: justify;
}

.card-hsh-body p{
    padding: 10px;
    text-align: justify;
}

.card-hsh-footer{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

// .card-hsh-footer button{
//     background-color: $theme-color;
//     padding: 5px 10px;
//     border-radius: 5px;
//     border-color: $text-grey;
    
// }

.css-button {
	font-family: Arial;
	color: #FFFFFF;
	font-size: 16px;
	border-radius: 5px;
	border: 1px #3866a3 solid;
	background: linear-gradient(180deg, #63B8EE 5%, #468CCF 100%);
	text-shadow: 1px 1px 1px #528ecc;
	box-shadow: inset 1px 1px 2px 0px #bbdaf7;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
    width: 150px;
    height: 42px;
}

.css-button a{
    margin: auto;
}

.css-button:hover {
	background: linear-gradient(180deg, #468CCF 5%, #63B8EE 100%);
}
.css-button-icon {
	padding: 10px 10px;
	border-right: 1px solid rgba(255, 255, 255, 0.16);
	box-shadow: rgba(0, 0, 0, 0.14) -1px 0px 0px inset;
}
.css-button-text {
	padding: 10px 18px;
}



