.card-hsh{
    width:25vh;
    height: 300px;
    background-color: aquamarine;
    display: flex;
}

.card-hsh-header{
    background-color: coral;

}

.card-hsh-body
{
    background-color: crimson;
}

.card-hsh-footer{
    background-color: darksalmon;
}

