.cart-hsh-container{
    width: 100%;  
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    height: 1100px;
}

.card-hsh{
    width:46%;
    height: 500px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    margin:2%;
    padding:0;
    border: #edebeb 2px solid;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgba(33,33,33,0.25);
}

.card-hsh-header{
    background-color: coral;
    flex:1;
}

.card-hsh-header img{
    width: 100%;
    height: auto;
}

.card-hsh-body
{
    background-color: crimson;
    flex:3;    
}

.card-hsh-body h5{
    padding: 10px;
    text-align: justify;
}

.card-hsh-body p{
    padding: 10px;
    text-align: justify;
}

.card-hsh-footer{
    background-color: darksalmon;
    flex:1;
}



