/* set the size of image */
:root{
    --height-slide:600px;
    --width-slide:800px;
}

body{
    background-color: rgb(204, 204, 38);
}
    
div#slider{
    width: 80%;// 80%
    overflow: hidden;
    position: relative;
    margin:auto;
    height: var(--height-slide);    
    max-width: var(--width-slide);
    border-radius: 10px;
}

div#slider figure{
    position: absolute;
    width:500%;//500%
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
    animation: slide_country 20s infinite;
}

div#slider figure img{
    width: 20%; //20%
    height: auto;
    float:left;    
}


div.container-img{
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
}


@keyframes slide_country{
    0%      { left: 0%}
    20%     { left: 0%;}
    25%     { left: -100% }
    45%     { left: -100%}
    50%     { left: -200%}
    70%     { left: -200%}
    75%     { left: -300%}
    95%     { left: -300%}
    100%    { left: -400%}
}
